:root {
    --blanc : #FFF8F1;
    --lightblue : #2F1FE0;
    --darkblue  : #09005B;
}

.container {
    max-width: 1100px;
    margin: auto;
}

a {
    text-decoration: none;
    color: var(--darkblue);
}

header {
    background-color: var(--blanc);
    color: var(--darkblue);
    padding: 20px 0;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: auto;
}

body {
    background:linear-gradient(to bottom left, var(--lightblue), var(--darkblue));
    color: var(--darkblue);
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
}

main, .content {
    flex: 1 0 auto;
}

footer {
    color: var(--blanc);
    text-align: center;
    padding:25px 0;
    width: auto;
    margin-top: auto;
    border-top: 2px solid var(--blanc);
}