:root {
    --blanc : #FFF8F1;
    --lightblue : #2F1FE0;
    --darkblue  : #09005B;
}

.container {
    max-width: 1100px;
    margin: auto;
}

html, body {
    height: 100%;
}

body {
    background:linear-gradient(to bottom left, var(--lightblue), var(--darkblue));
    color: var(--darkblue);
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main, .content {
    flex: 1 0 auto;
}

footer {
    color: var(--blanc);
    text-align: center;
    padding:25px 0;
    width: auto;
    margin-top: auto;
    border-top: 2px solid var(--blanc);
}