.carousel {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    position: relative;
}

.carousel-track {
    display: flex;
    transition: transform 1s ease-in-out;
}

.slide {
    min-width: 100vw;
    height: 60vh;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}